<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="login">
    <div class="login">Login</div>
    <div class="form-field-name" style="margin-top: 14px;">Email</div>
    <input
      type="text"
      class="form-field"
      formControlName="email"
      [class.wrong]="form.get('email').touched && form.get('email').invalid"
      [class.correct]="form.get('email').touched && form.get('email').valid"
      validation
    />
    <div class="form-field-name" style="margin-top: 14px;">Password</div>
    <input
      type="password"
      class="form-field"
      formControlName="password"
      [class.wrong]="form.get('password').touched && form.get('password').invalid"
      [class.correct]="form.get('password').touched && form.get('password').valid"
      validation
    />
    <div class="signup-link">
      <a routerLink="/signup">Registration</a>
    </div>
    <button
      type="submit"
      class="submit"
      [disabled]="form.invalid"
      *ngIf="loginPreloader$ | async; else loginBlock"
    >
      <img src="/assets/preloader-button.gif" alt="" />
    </button>
  </form>
</div>
<ng-template #loginBlock>
  <button
    type="submit"
    class="submit"
    [disabled]="form.invalid"
  >
    Login
  </button>
</ng-template>
