<app-alert></app-alert>
<div
  class="container"
  (touchstart)="swipe($event, 'start')"
  (touchend)="swipe($event, 'end')"
  (mousedown)="swipeMouse($event, 'start')"
  (mouseup)="swipeMouse($event, 'end')"
  (keydown.enter)="search()"
>
  <div class="search-field">
    <img src="/assets/youtube.svg" alt="" />
    <div>
      <input
        type="text"
        placeholder="What do you want to find out"
        class="search-input"
        [(ngModel)]="searchString"
        (focus)="showSearchHistory = true"
        (blur)="showSearchHistory = false"
      />
      <div class="dropdown">
        <div
          class="dropdown-child"
          [style.display]="showSearchHistory ? 'block' : 'none'"
        >
          <img
            src="/assets/preloader.gif"
            class="youtube-preloader-img"
            style="width: 40px; height: 40px;"
            *ngIf="historyPreloader"
            alt=""
          />
          <div
          *ngFor="let historyElement of historyElements | filterHistory:searchString"
           (mousedown)="setSearchHistory(historyElement.query)">{{ historyElement.query }}</div>
        </div>
      </div>
    </div>
    <button class="search-button" (click)="search()">Search</button>
    <img class="logout" src="/assets/logout.svg" alt="" (click)="logout()"/>
  </div>
  <div class="youtube-container">
    <img
      src="/assets/preloader.gif"
      *ngIf="preloader"
      class="youtube-preloader-img"
      alt=""
    />
    <img
      *ngIf="!searchString"
      class="youtube-info-img"
      src="/assets/left-arrow.svg"
      alt=""
    />
    <div *ngIf="!searchString" class="youtube-info">
      Swipe to move to the next/previous page
    </div>
    <img
      *ngIf="!searchString"
      class="youtube-info-img"
      src="/assets/right-arrow.svg"
      alt=""
    />
    <ng-container *ngIf="!preloader && searchString">
      <app-youtube-preview
        *ngFor="let youtubeElement of youtubeElements"
        [youtubeElement]="youtubeElement"
      ></app-youtube-preview>
    </ng-container>
  </div>
</div>
