div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f2f2f2;
}
form.sign-up {
  width: 344px;
  height: 462px;
  background: white;
  border-radius: 5px;
}
div.registration {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 30px;
  color: #000000;
}
div.form-field-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #828282;
  margin-left: 26px;
}
input.form-field {
  box-sizing: border-box;
  padding-left: 8px;
  background: #e0e0e0;
  border: none;
  border-radius: 0px 0px 5px 5px;
  margin-top: 3.4px;
  margin-left: 20px;
  width: 304px;
  height: 33.6px;
}
div.validation {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #eb5757;
  margin-left: 26px;
}
input.wrong {
  background-image: linear-gradient(
    to bottom,
    #e0e0e0,
    #e0e0e0 80%,
    #eb5757 20%,
    #eb5757
  );
  background-size: cover;
  background-repeat: no-repeat;
}
input.correct {
  background-image: linear-gradient(
    to bottom,
    #e0e0e0,
    #e0e0e0 80%,
    #19A974 20%,
    #19A974
  );
  background-size: cover;
  background-repeat: no-repeat;
}
input:focus {
  outline: none;
}
div.login-link {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-left: 119px;
  width: 40px;
  height: 14px;
}
div.login-link a {
  margin-top: 10px;
  color: #2f80ed;
  text-decoration-line: underline;
}
button.submit {
  padding-top: 3px;
  display: inline-block;
  background: #2f80ed;
  box-sizing: border-box;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-left: 15px;
  margin-top: 25px;
  color: #ffffff;
  border: none;
  box-shadow: 0 0 4px #2f80ed;
}
button.submit:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #2f80ed;
}
button.submit:disabled {
  background: #8f8d8d;
  box-shadow: 0 0 4px #8f8d8d;
}
