<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="sign-up">
    <div class="registration">Registration</div>
    <div class="form-field-name" style="margin-top: 14px;">Email</div>
    <input
      type="text"
      class="form-field"
      formControlName="email"
      [class.wrong]="form.get('email').touched && form.get('email').invalid"
      [class.correct]="form.get('email').touched && form.get('email').valid"
      validation
    />
    <div class="form-field-name" style="margin-top: 14px;">Password</div>
    <input
      type="password"
      class="form-field"
      formControlName="password"
      [class.wrong]="form.get('password').touched && form.get('password').invalid"
      [class.correct]="form.get('password').touched && form.get('password').valid"
      validation
    />
    <div class="login-link">
      <a routerLink="/login">Login</a>
    </div>
    <button
      type="submit"
      class="submit"
      [disabled]="form.invalid"
      *ngIf="preloader; else signUpBlock"
    >
      <img src="/assets/preloader-button.gif" alt="" />
    </button>
    <ng-template #signUpBlock>
      <button
        type="submit"
        class="submit"
        [disabled]="form.invalid"
      >
        Sign Up
      </button>
    </ng-template>
  </form>
</div>
