@import 'config.scss';

.container {
  height: 100vh;
  background: #f2f2f2;
}

.youtube-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.search-field {
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 80px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  img {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.search-input {
  width: 396px;
  height: 24px;
  box-sizing: border-box;
  padding-left: 8px;
  border: none;
  background-color: #EFEFEF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #929292;

  &:focus {
    outline: none;
  }
}

.youtube-info-img {
  opacity: 0.5;
  width: 80px;
}

.youtube-info {
  margin: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #929292;
}

.logout:hover {
  cursor: pointer;
}

.search-button {
  background: $primary-color;
  border-radius: 0px 4px 4px 0px;
  width: 80px;
  height: 24px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  border: none;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 8px $primary-color;
  }

  &:focus {
    outline: none;
  }
}

.youtube-preloader-img {
  width: 100px;
  height: 100px;
}

/**
  dropdown
**/
.dropdown {
  position: absolute;
  top: 52px;
  left: 40%;
  display: inline-block;
}

.dropdown-child {
  display: block;
  background-color: white;
  max-height: 400px;
  overflow-y: scroll;
  min-width: 200px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  div {
    border-right: #66a4f5 solid 3px;
    border-left: #66a4f5 solid 3px;
    color: white;
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #6d6a6a;

    &:hover {
      cursor: pointer;
      color: #c7bdbd;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .last-child{
    border-bottom: #66a4f5 solid 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}




@media only screen and (max-width: 450px) {
  .dropdown {
    left: 20px;
  }
}

@media only screen and (max-width: 630px) {
  .search-input {
    width: 50vw;
  }
  .youtube-info-img {
    display: none;
  }
  .dropdown {
    left: 0;
  }
}
